body { margin: 0; padding: 0; }


/* TYPOGRAPHY */
h1, .h1 { font: 400 4rem/1.6 'Playfair Display', serif; }
h4, .h4 { font: 200 1.6rem/1.3 'Raleway', sans-serif; }

p, li, a, blockquote, cite, input { font: 400 0.9rem/1.3 'Raleway', sans-serif; }


.navbar { font-family: 'Raleway'; font-weight: 400; }
.postlist-item > a { margin-left: 1rem; }
.postlist-tags { margin-left: 1rem;} 
.postlist-tags a { font-size: 0.8rem; }


/* ====== STRUCTURE & LAYOUT ====== */
.structure, .navbar { display: grid; grid-template-areas: "nav body"; grid-template-columns: 14rem auto; }
.home-content { display: flex; }
.main-body { flex-grow: 1; height: 100vh; }
article { display: grid; grid-template-areas: "header header" "content aside"; height: 100%; padding: 1rem 2rem; }
.tmpl-post-list article { width: 100%; }

nav { align-self: center; }

/* BLOCK ELEMENTS */
.home-content { align-items: center; height: 100vh; overflow: hidden; }

.navbar { display: flex; flex-direction: column; width: 60%; }

.main-body { border-left: 1px solid hsl(0, 0%, 93.3%); padding-left: 1rem; }
article header { grid-area: header; }


.title-box { margin-right: 2rem; z-index: 2; }

.postlist { }
.postlist-item { counter-increment: post-count; }
.postlist-item::marker { content: counter(post-count, decimal-leading-zero); font-size: 2rem; }

/* UI & INTERACTIVE */

nav a { text-decoration: none; }
.navbar { font-size: 1.2rem; list-style: none; margin: 0 auto; padding: 0; }
.navbar li { margin: 0.5rem 0; padding: 1rem 0; text-align: center; }
.navbar a { color: inherit; text-align: center; }
.navbar i { display: block; margin-bottom: 0.5rem; }

li.active-nav { border-bottom: 1px solid hsl(40.8, 38%, 50%); }

.title-box h1, .title-box .h4 { margin: 0; }
.front-image { box-shadow: -0.4rem -0.2rem 0.5rem hsla(0, 0%, 20%, 0.5);
    border-radius: 3px; margin-left: 2rem; width: 40%; z-index: 1; }
.profile-image { border: 1px solid hsl(0, 0%, 80%); border-radius: 2px; float: left; margin: 0 2rem 2rem 0; padding: 0.2rem; width: 25%; }

.home-image { position: absolute;
    height: 100vh;
    right: 0;
    top: 0px;
    width: 50%; }
.skew { transform: skew(-15deg);
    height: 100vh;
    width: 55%;
    position: absolute;
    left: -100px;
    background-color: #fff;
    z-index: 1; }
.overlay { background-color: #b0914fe6; position: absolute; height: 100%; width: 100%; }
.bg-image { width: 100%;
    height: 100vh;
    background-size: 150%;
    background-position: -80px; }

time { float: right; font-size: 0.9rem; padding-top: 0.8rem; }


/* COLOUR */

h1, .h1 { color: hsl(0, 0%, 30%); }
p, li, a, blockquote, cite, input { color: hsl(0, 0%, 40%); }

a, a:active, a:visited, .navbar, ::marker { color: hsl(40.8, 38%, 50%); text-decoration: none; }
.navbar li { box-shadow: 2px 4px 3px #eee; color: hsl(0, 0%, 20%); }



@media(min-width: 100px) and (max-width: 991px) {

    .structure { grid-template-areas: "nav" "body"; grid-template-columns: auto; }
    .main-body { padding: unset; border: unset; }

    .home-content { align-items: unset; background-image: url(https://live.staticflickr.com/4850/46035792404_5df15176bc_c.jpg);
        background-size: cover;
        overflow: unset;
        padding: 1rem; }
    .home-image { display: none; }
    .navbar { flex-flow: row wrap; gap: 1rem; width: 100%; }
    .navbar a { padding: 0 1rem; }
    .navbar li:first-of-type { margin-left: 1rem; }

    .front-image { display: none; }

    .title-box h1, .title-box .h4 { margin: 0 0 1.4rem; color: hsl(0, 0%, 80%); line-height: 1.2; }

    h1, .h1 { font-size: 3.2rem; }
}