---
layout: layouts/home.njk
permalink: /posts/
templateClass: tmpl-post-list
eleventyNavigation:
  key: Blog
  order: 2
---

<article>
  <header>
    <h1>Blog</h1>
  </header>

  <div class="article-content">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>

</article>
