---
layout: layouts/base.njk
templateClass: tmpl-post
---


<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  <div class="article-content">
    {{ content | safe }}
    <p><a href="{{ '/' | url }}">← Home</a></p>
  </div>

</article>